.block-one {
  display: flex;
  flex-direction: column;
}

.block-one-title {
  font-size: 1rem;
  font-weight: bold;
}

.block-availability {
  color: #ea7560;
}

.block-one-subtitle {
  font-size: 0.8rem;
  font-style: italic;
  margin-bottom: 10px;
}

.block-one-text {
  display: flex;
}

.block-one-cost {
  display: flex;
  flex-direction: column;
  color: #ea7560;
  padding: 2px 10px;
  font-weight: 700;
}

.cost-subs {
  font-size: 0.75rem;
  font-style: italic;
  margin-bottom: 10px;
  font-weight: 400;
}

.block-one-bullets {
  display: flex;
  flex-direction: column;
  margin-block-start: 0px;
}

.block-logo {}

.block-logo-img {
  width: calc(100% - 40px);
  margin: 0px 20px;
}