.venue-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.venue {
  width: 100%;
}

.venue-hotel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.venue-title {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Oswald, "Montserrat", "Roboto", sans-serif;
  width: 100%;
  text-align: center;
  text-shadow: 2px 2px 8px #fff;
}

.venue-hotel-info {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.venue-hotel-info-image {
  border-radius: 50%;
  width: var(--hotel-dist);
  z-index: 7;
  position: relative;
}

.venue-hotel-info-right {
  display: flex;
  flex-direction: column;
  margin-left: -50px;
  background-color: #fff;
  height: var(--hotel-dist);
  justify-content: center;
  width: 100%;
}

.venue-hotel-title {
  font-size: 0.9rem;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Oswald, "Montserrat", "Roboto", sans-serif;
}

.venue-hotel-address,
.venue-hotel-phone {
  font-size: .75em;
  color: #272325;
}

.venue-hotel-map {
  margin-top: 30px;
}

.venue-block {
  display: flex;
  flex-direction: column !important;
}

.hotel-image {
  background-image: url('https://s7d1.scene7.com/is/image/marriotts7prod/mc-hnlmc-queensbreak-21286:Classic-Hor?wid=2880&amp;fit=constrain');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  background-origin: content-box;
  height: 300px;
  width: 100vw;
  overflow: hidden;
  display: table;
  margin-bottom: 30px;
}

.venue-layout {
  flex-direction: column !important;
  max-width: 800px;
}

.venue-bullets {
  list-style-type: none;
}

.venue-date {
  color: #ea7560;
  width: 100px;
}