.home-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-block-start: 1.5em;
}

.hero-logo {
  min-width: 200px;
  max-width: 200px;
  max-height: 200px;
  ;
}

.col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.left,
.right {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.col-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* .left {
  flex-direction: column;
} */

.left .hero-logo {
  width: 100%;
  padding-bottom: 30px;
}

.sizzle-box {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 30px;
  width: inherit;
  height: fit-content;
}

.sizzle-title {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  font-family: sans-serif;
  letter-spacing: -1px;
  color: #000;
  text-transform: uppercase;
  font-family: Oswald, "Montserrat", "Roboto", sans-serif;
}

.sizzle-sub-title {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.sizzle-text {
  font-size: 1em;
  font-family: sans-serif;
  color: #000;
}

.sizzle-bullet-item {
  display: flex;
  flex-direction: row;
  padding: 15px 0px 5px;
  text-decoration: none;
  color: #000;
}

.sizzle-bullet-item:hover {
  cursor: pointer;
}

.sizzle-icon {
  max-height: 80px;
  max-width: 80px;
  min-height: 80px;
  min-width: 80px;
  height: 80px;
  width: 80px;
  display: flex;
}

.sizzle-icon img {
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 100%;
}

.sizzle-bullet {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.sizzle-bullet-title {
  font-weight: 900;
}

.sizzle-bullet-desc {
  font-size: 12px;
}

.sizzle-button-area {
  padding-top: 30px;
  display: flex;
  width: 100%;
  justify-content: center;
}

#mc_embed_signup {
  align-items: center;
}


/* 
#mc_embed_signup .mc-field-group {
  width: 45%;
}

#mc_embed_signup .mc-field-group input {
  width: 40%;
} */

.sub-button {
  display: flex;
}

.sub-btn {
  color: white;
  background-color: #ea7560b5 !important;
}

.keynote-bubbles {
  --keynote-width: 120px;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
}

.keynote-bubble {
  display: flex;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  border-top-left-radius: calc(var(--keynote-width) / 2);
  border-bottom-left-radius: calc(var(--keynote-width) / 2);
  border-top-right-radius: calc(var(--keynote-width) / 2);
  border-bottom-right-radius: calc(var(--keynote-width) / 2);
  margin-bottom: 30px;
}

.keynote-image {
  border-radius: 50%;
  object-fit: cover;
  width: var(--keynote-width);
  height: var(--keynote-width);
}

.keynote-name {
  font-weight: 700;
  font-size: 20px;
}

.keynote-title {
  font-weight: 300;
  letter-spacing: -1px;
  font-size: 16px;
}

.keynote-company {
  color: #272325;
  font-size: .75em;
  text-transform: uppercase;
}

.keynote-text-content {
  color: #ea7560;
  margin: 0px 10px;
  padding: 10px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}