/******************************
DESKTOP
******************************/

@media (min-width: 992px) {
   :root {
    --navbar-height: 8vh;
    --min-navbar-height: 60px;
    --max-navbar-height: 80px !important;
  }
  .swe-hamburger-menu-body,
  .swe-hamburger-menu-bar-wrap {
    display: none;
  }
  .swe-navbar {
    content: '';
    max-width: 100%;
    max-height: var(--max-navbar-height);
    height: var(--navbar-height);
    min-height: var(--min-navbar-height);
    background-color: var(--bs-primary, var(--swe-color-primary));
    margin: 0;
    display: flex;
  }
  .swe-navbar-over {
    background-color: transparent;
  }
  .swe-navbar-logo-container {
    width: 18%;
    background-color: transparent;
    height: calc(100% - 30px);
    margin-top: 15px;
    text-align: left;
  }
  .swe-navbar-logo-container img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
  }
  .swe-navbar-wrap {
    height: 100%;
    width: 82%;
    margin: 0px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: row-reverse;
  }
  .swe-navbar-wrap-link-box {
    display: flex;
  }
  .swe-navbar-wrap a {
    color: var(--bs-light, var(--swe-color-light));
    font-weight: 700;
    padding: 10px 20px;
    text-decoration: none;
    margin: auto;
  }
  .swe-navbar-wrap a:hover {
    color: var(--bs-danger, var(--swe-color-danger));
  }
  .swe-navbar-link-bg {
    background-color: var(--bs-light, var(--swe-color-light));
    transition: all 0.5s ease-in-out;
  }
  .swe-navbar-link-bg:hover {
    background-color: var(--bs-danger, var(--swe-color-danger));
    transition: all 0.5s ease-in-out;
  }
  .swe-navbar-wrap .swe-navbar-link-bg {
    color: var(--bs-primary, var(--swe-color-primary));
    font-weight: 700;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 10px;
  }
  .swe-navbar-wrap .swe-navbar-link-bg:hover {
    color: var(--bs-light, var(--swe-color-light));
    font-weight: 700;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 10px;
  }
}


/******************************
MOBILE
******************************/

:root {
  --swe-color-primary: #000046;
  --swe-color-danger: #dc3545;
  --swe-color-light: #fff;
  --navbar-height: 8vh;
  --minx-navbar-height: 60px;
  --max-navbar-height: 80px;
}


/* to all devices  */

.swe-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .swe-container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .swe-container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .swe-container {
    width: 1170px;
  }
}


/* to mobiles devices  */


/* 767.9px */

@media (max-width: 991.9px) {
  .swe-navbar {
    display: none;
  }
  .swe-hamburger-menu-bar-wrap {
    width: 100%;
    height: var(--navbar-height);
    min-height: var(--min-navbar-height);
    max-height: var(--max-navbar-height);
    background-color: var(--bs-primary, var(--swe-color-primary));
    margin: 0;
    padding: 0;
  }
  .swe-hamburger-menu-logo-container {
    content: "";
    width: 30%;
    height: calc(100% - 10px);
    margin-top: 5px;
    text-align: left;
  }
  .swe-hamburger-menu-logo-container img {
    border-radius: 5px;
    width: auto;
    max-width: 100%;
    max-height: 100%;
  }
  .swe-hamburger-menu-icon-container {
    width: 70%;
    text-align: right;
  }
  .swe-hamburger-menu-body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: transparent;
    z-index: 999;
  }
  .swe-hamburger-menu-body-content {
    background-color: var(--bs-primary, var(--swe-color-primary));
    box-shadow: 0px 0px 10px 5px var(--bs-primary, var(--swe-color-primary));
    height: 100%;
  }
  .swe-hamburger-menu-links {
    text-align: center;
    padding: 30px 10px;
  }
  .swe-hamburger-menu-link-box {
    background-color: var(--bs-danger, var(--swe-color-danger));
    border-radius: 20px;
    overflow: hidden;
    padding: 20px 0px;
    margin-top: 15px;
  }
  .swe-hamburger-menu-link-box a {
    color: var(--bs-light, var(--swe-color-light));
    font-weight: 700;
    text-decoration: none;
  }
  .swe-hamburger-menu-link-box-white {
    background-color: var(--bs-light, var(--swe-color-light));
    border-radius: 20px;
    overflow: hidden;
    padding: 20px 0px;
    margin-top: 15px;
  }
  .swe-hamburger-menu-link-box-white a {
    color: var(--bs-danger);
    font-weight: 700;
    text-decoration: none;
  }
}

.secondary-nav {
  height: 30px;
  background-color: #e7e7e7;
  color: #272325;
  position: fixed;
  width: 100%;
  display: flex;
  /* margin-top: calc(var(--navbar-height) - 4px); */
  z-index: 6;
}

.nav-menu {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.secondary-nav-dates {
  color: #272325;
  font-size: .75em;
  text-transform: uppercase;
}

.secondary-nav-icon {
  margin-right: 20px;
}

.secondary-nav-archive {
  color: #272325;
  font-size: .75em;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 5px;
}

.secondary-nav-archive:hover {
  cursor: pointer;
  color: #ea7560
}

.secondary-nav-dates,
.secondary-nav-icons {
  width: 50%;
  display: flex;
}

.secondary-nav-icons {
  justify-content: flex-end;
  margin-top: 5px;
}

.swe-navbar,
.swe-hamburger-menu-bar-wrap,
.swe-hamburger-menu-body-content,
.swe-hamburger-menu-link-box {
  background-color: white !important;
}

.swe-navbar-wrap a,
.swe-hamburger-menu-link-box a {
  color: #272325 !important;
  font-family: Oswald, "Montserrat", "Roboto", sans-serif !important;
  text-transform: uppercase !important;
}

.swe-hamburger-menu-icon-container svg {
  fill: #272325 !important;
  stroke: #272325 !important;
  padding-top: 8px !important;
}

.swe-hamburger-menu-icon-container,
.swe-hamburger-menu-link-box {
  border: none !important;
}

.swe-hamburger-menu-body-content .container,
.swe-hamburger-menu-links {
  padding: 0px !important;
}

.swe-navbar,
.swe-hamburger-menu-bar-wrap {
  overflow: hidden !important;
  position: fixed !important;
  top: 0 !important;
  z-index: 3 !important;
  width: 100% !important;
}

.nav-div-hover:hover {
  cursor: pointer;
}

.nav-div-hover:hover a {
  cursor: pointer;
  color: #ea7560 !important;
}